@import "bourbon";

/*INDEX*/

.to_top{display:none;}

.long_page{
	width:1000px; 
	min-height:1150px;
	margin:0 auto 50px auto; 
	z-index:1;
}

.project-header-desc {
	color: #ccc;
	margin-left: 10px;
	a, strong {
		color: #ccc;
	}
}

#container {
	width: 1000px;
	margin: 150px auto 0 auto;
	z-index: 1;
	@media screen and (max-width: 1000px) {
		width: 650px;
		margin: 100px auto 0 auto;
		min-width:650px;
	}
	@media screen and (max-width: 650px) {
		min-width:320px;
		width: 320px;
	}
}

#intro		{
	min-height: 100px;
	margin-bottom: 50px;
	#intro_text	{
		float: left;
		max-width: 380px;
		margin-left: 10px;
		@media screen and (max-width: 650px) {
			float: none;
			width: 90%;
		}
	}
	#quicklinks{
		float: right;
		line-height:22px;
		list-style:none;
		margin-top:40px;
		margin-right: 10px;
		text-align:right;
		@media screen and (max-width: 650px) {
			float: none;
			margin-top:10px;
		}
	}
}

.module {
	width: 100%;
	min-height: 500px;
	margin: 0 auto 50px auto;
	@media screen and (max-width: 1000px) {
		width: 650px;
	}
	@media screen and (max-width: 650px) {
		width: 320px;
	}
}

.category_caption{
	width:223px; height:200px;
	background: #333;
	z-index:1;
	@media screen and (max-width: 1000px) {
		width: 22.3%;
		height: 130px;
	}
	@media screen and (max-width: 650px) {
		width: 100%;
		height: 83px;
		border-radius: 8px 8px 0 0;
	}
}



.projects-header {
	margin-top: 10px;
	@include clearfix;
	.project-header-image {
		float: left;
		width: 775px;
		height: 200px;
		overflow: hidden;
		@media screen and (max-width: 1000px) {
			width: 77.7%;
			height: 130px;
			img {
				width: 100%;
			}
		}
		@media screen and (max-width: 650px) {
			width: 100%;
			height: 83px;
			img {
				border-radius: 0 0 8px 8px;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		img {
			width: 502px;
		}
	}
	@media screen and (max-width: 650px) {
		img {
			width: 100%;
			border-radius: 0 0 8px 8px;
		}
	}
}

#about {
	width:100%;
	min-height:500px;
	margin:0 auto;
	z-index:1;
	#about_text {
		width:580px;
		@media screen and (max-width: 650px) {
			width: 100%;
		}
	}
	#about-image {
		float: right;
		img {
			margin-top: 5px;
			@media screen and (max-width: 650px) {
				width: 100%;
			}
		}
	}
}

.jtext {
	margin-bottom: 30px;
}

/*WORKS*/
#project_wrapper{
	position:relative;
	min-width:1000px;
	min-height:730px;
	margin-top: 110px;
	@media screen and (max-width: 1000px) {
		min-width: 650px;
		margin-top: 80px;
	}
	@media screen and (max-width: 650px) {
		min-width: 400px;
	}
	#project {
		display: flex;
		@media screen and (max-width: 1000px) {
			display: block;
		}
		.gallery_desc {
			border-right: #999 1px dotted;
			color: #333;
			order: 1;
			width: 14.5%;
			min-width: 275px;
			padding: 15px 1% 20px 1.2%;
			@media screen and (max-width: 1000px) {
				width: 400px;
				border-right: none;
			}
			@media screen and (max-width: 650px) {
				width: 90%;
				max-width: 400px;
			}
			.award-list {
				margin-top: 20px;
				li:not(:first-child) {
					position: relative;
					margin-left: 10px;
					&:before {
						background: rgb(90,90,90);
						content: " ";
						display: block;
						width: 3px;
						height: 3px;
						position: absolute;
						top: 6px;
						left: -8px;
					}
				}
			}
			.tools-list {
				margin-top: 20px;
				@include clearfix;
				li {
					display: block;
					float: left;
					border: 1px solid rgb(230,230,230);
					margin: 0 10px 5px 0;
					padding: 3px 5px;
					@mixin tools-icon($asset, $width, $height) {
						background: image-url($asset) no-repeat;
						background-size: 100% 100%;
						border: none;
						display: block;
						overflow: hidden;
						padding: 0;
						text-indent: -99px;
						width: $width;
						height: $height;
					}
					&.icon-ae {
						@include tools-icon("ui/ae_icon.png", 25px, 25px);
					}
					&.icon-ai {
						@include tools-icon("ui/ai_icon.png", 25px, 25px);
					}
					&.icon-c4d {
						@include tools-icon("ui/c4d_icon.png", 35px, 25px);
					}
					&.icon-fl {
						@include tools-icon("ui/fl_icon.png", 25px, 25px);
					}
					&.icon-id {
						@include tools-icon("ui/id_icon.png", 25px, 25px);
					}
					&.icon-logic {
						@include tools-icon("ui/logic_icon.png", 68px, 25px);
					}
					&.icon-photo {
						@include tools-icon("ui/photo_icon.png", 35px, 25px);
					}
					&.icon-ps{
						@include tools-icon("ui/ps_icon.png", 25px, 25px);
					}
				}
			}
		}
		.gallery-container {
			order: 2;
			width: 82%;
			padding-left: 1.3%;
			@media screen and (max-width: 1000px) {
				width: 98.7%;
			}
		}
		.video-container.linked {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%; 
			height: auto;
			iframe, object, embed {
				position: absolute;
				top: 30px;
				left: 0;
				width: 100%;
				height: calc(100% - 30px);
			}
			.works-aau &{
				padding-bottom: 51.25%;
				iframe, object, embed {
					max-width: 860px;
				}
			}
		}
	}
}


.gallery-thumbs{min-width:150px;width:200px;}

.gallery-thumbs li img{
	border-radius: 3px;
	cursor: pointer;
}

.gallery_video { width:80%; max-width:1200px;}
.gallery-image img {
	width: 100%;
	&.potrait {
		width: auto;
	}
}


.loading{margin:300px 0 0 0;text-align:center;}