@import "bourbon";
/* ID */

#intro		{margin-top:150px;}
#intro_text	{width:380px;}

#quicklinks{
	line-height:22px; 
	list-style:none; 
	margin-top:40px;
	text-align:right;
}

#about_text{ width:580px;}

/*Layout Classes*/
/*INDEX*/
.to_top{display:none;}

.short_page{
	width:1000px; 
	min-height:500px;
	margin:0 auto 50px auto; 
	z-index:1;
}

.page{
	width:1000px; 
	min-height:100px;
	margin:0 auto 50px auto; 
	z-index:1;
}

.long_page{
	width:1000px; 
	min-height:1150px;
	margin:0 auto 50px auto; 
	z-index:1;
}

.module {
	width: 1000px;
	min-height: 500px;
	margin: 0 auto 50px auto;
}

.projects-header {
	margin-top: 10px;
	@include clearfix;
}

.project-header-desc {
	color: #ccc;
	margin-left: 10px;
	a {
		color: #ccc;
	}
}

.category_caption{
	width:223px; height:200px;
	background: #333;
	z-index:1;
}

#about {
	margin-bottom: 0;
}

.jtext {
	margin-bottom: 30px;
}

/*WORKS*/
.project_wrapper{
	display:block;
	position:relative;
	width:auto; height:auto;
	min-width:600px; min-height:730px;
	margin:110px auto 0 auto; 
	z-index:1;
}

.project {
	width: 100%;
	min-height: 500px;
}

.gallery_desc{
	background:#fff;
	color:#333;
	width:19%;
	height:85%;
	min-width:150px;
	max-width: 200px;
	min-height:300px; 
	padding:15px 15px 20px 10px;
	border-left:#999 1px dotted;
}

.gallery-container {
	width: 80%;
}

.gallery_thumbs{min-width:150px;width:200px;}

.gallery_thumbs li img{
	border-radius: 3px;
	cursor: pointer;
	//user_select: none;
}

// .gallery_image{ width:80%;}
.gallery_video { width:80%; max-width:1200px;}
.gallery-image img { width: 100%; }


.loading{margin:300px 0 0 0;text-align:center;}