<header>
	<a id="logo" href="http://richardtirta.com/hi/index.html">RichardTirta></a>

	<div id="navigation-container">
		<div id="icons-container">
			<a class="facebook-icon" target="_new" href="https://www.facebook.com/pages/Richard-Tirta/212357728775613"></a>
			<a class="linkedin-icon" target="_new" href="http://www.linkedin.com/pub/richard-widjaja/2b/54b/619"></a>
		</div>

		<nav>
			<ul class="right" id="nav">
				<li><a class="works-akqa-nav" href="http://richardtirta.com/hi/index.html#works-akqa">FEATURED WORKS</a></li>
				<li>|</li>
				<li><a class="works-aau-nav" href="http://richardtirta.com/hi/index.html#works-aau">RECENT WORKS</a></li>
				<li>|</li>
				<li><a class="works-personal-nav" href="http://richardtirta.com/hi/index.html#works-personal">ARCHIVE</a></li>
				<li>|</li>
				<li><a class="about-nav" href="http://richardtirta.com/hi/index.html#about">ABOUT</a></li>
			</ul>
		</nav>
	</div>
</header>