<header>
	<a id="logo" href="http://richardtirta.com/hi2/index.html">RichardTirta></a>

	<div id="navigation-container">
		<div id="icons-container">
			<a class="facebook-icon" target="_new" href="https://www.facebook.com/pages/Richard-Tirta/212357728775613"></a>
			<a class="linkedin-icon" target="_new" href="http://www.linkedin.com/pub/richard-widjaja/2b/54b/619"></a>
		</div>

		<nav>
			<ul class="right" id="nav">
				<li><a class="works-akqa-nav" href="/index.html#works-akqa">WORKS @ AKQA</a></li>
				<li>|</li>
				<li><a class="works-aau-nav" href="/index.html#works-aau">WORKS @ AAU</a></li>
				<li>|</li>
				<li><a class="works-personal-nav" href="/index.html#works-personal">PERSONAL WORKS</a></li>
				<li>|</li>
				<li><a class="about-nav" href="/index.html#about">ABOUT</a></li>
			</ul>
		</nav>
	</div>
</header>