<%= partial "views/header" %>

<div id="project_wrapper">
	<div id="project">
		<div class="gallery_desc">
			<h3 class="margintop10">MOTION + AUDIO</h3>

			<h2 class="margintop20"><strong>DTS Theater</strong><br/>
			Motion Teaser</h2>

			<p class="margintop10">The goal of this project is to demonstrate an under­standing of 3D motion using Cinema 4D. DTS is being featured in this project for its theater intro that would appear in cinemas using DTS Surround System</p>

			<ul class="tools-list">
				<li class="icon-c4d">
					Cinema 4D
				</li>
				<li class="icon-ae">
					After Effects
				</li>
			</ul>

			<p class="margintop20"><a href="workshop.html">Next Project</a></p>
		</div>

		<div class="gallery-container">
			<div class="gallery-image margintop20">
					<div class="video-container linked">
						<iframe src="http://player.vimeo.com/video/24505650?byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
</div>