<%= partial "views/header" %>

<div id="project_wrapper">
	<div id="project">
		<div class="gallery_desc">
			<h3 class="margintop10">WEB + INTERACTIVE</h3>

			<h2 class="margintop20"><strong>The WORKSHOP Burgers</strong><br/>
			Website</h2>

			<p class="margintop10">The WORKSHOP Burgers Bar &amp; Grill is new brand restaurants located across the Peninsula of San Francisco Bay Area. They need a website that can show their most current menu and offers. Therefore, I created the website using jQuery and PHP to show all the dynamic contents from the database. I designed this website to make it looks like a "workshop kitchen".</p>

			<ul class="tools-list">
				<li>
					HTML
				</li>
				<li>
					CSS
				</li>
				<li>
					PHP
				</li>
			</ul>

			<p class="margintop20"><a href="venus.html">Next Project</a></p>
		</div>

		<div class="gallery-container">
			<div class="gallery-image margintop20">
				<%= image_tag "gallery/workshop/01.jpg"%>
				<%= image_tag "gallery/workshop/02.jpg"%>
			</div>



			<div class="clear"></div>
		</div>
	</div>
</div>