<div id="works-aau" class="module">
	<div class="featured" id="web-interactive">
			<h3>WORKS @ AAU</h3>
	</div>
	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/batik_keris.php"><strong>Batik Keris</strong><br/>
        			Flash Website</a>
				</p>
			</div>
			<a class="left" href="works/batik_keris.php"><img class="radiusright" src="assets/images/gallery/batik/batik.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/statefarm_w.php"><strong>State Farm</strong><br/>
       				 Rebrand Campaign</a>
				</p>
			</div>
			<a class="left" href="works/statefarm_w.php"><img class="radiusright border" src="assets/images/gallery/statefarm/statefarm_web.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/simplybooks.php"><strong>Simplybooks</strong><br/>
       				 eCommerce Website</a>
				</p>
			</div>
			<a class="left" href="works/simplybooks.php"><img class="radiusright" src="assets/images/gallery/simplybooks/simplybooks.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/redcliff.php"><strong>Red Cliff</strong><br/>
        			Flash Website</a>
				</p>
			</div>
			<a class="left" href="works/redcliff.php"><img class="radiusright" src="assets/images/gallery/redcliff/redcliff.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/pantone.php"><strong>PANTONE</strong><br/>
        			Advertising Campaign</a>
				</p>
			</div>
			 <a class="left" href="works/pantone.php"><img class="radiusright" src="assets/images/gallery/pantone/pantone.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/frezty.php"><strong>Frezty Sparkling Organic Tea</strong><br/>
       				Branding Campaign</a>
				</p>
			</div>
			<a class="left" href="works/frezty.php"><img class="radiusright" src="assets/images/gallery/frezty/frezty.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/dts.php"><strong>DTS Theater</strong><br/>
        			Motion Teaser</a>
				</p>
			</div>
			 <a class="left" href="works/dts.php"><img class="radiusright" src="assets/images/gallery/dts/dts.jpg"></a>
		</div>
	</section>
</div>