<section id="about">
	<div class="left " id="about_text">
		<div class="margintop20 featured">
			<h3>ABOUT</h3>
		</div>

		<h1 class="closed_txt marginleft10"><a href="#">ABOUT ME</a></h1>
		<div class="marginleft10 jtext">

			<p>My passion in making creative experiences dates back to my high school times. Back then I had been maintaining and directing my love towards art into variety of medias whether in&nbsp;non-profit organizations or freelances. I have been proud to be able to help entrepreneurs and local&nbsp;businesses to reach their customers and clientele therefore improving their business significantly.</p>

			<p>My professional career includes internship in a marketing agency Btrax and San Francisco International Airport (SFO). Leading up to AKQA where I'm proud to be a part in many fun, high profile and award winning projects.</p>

			<p>As a Creative Marketing Consultant, I love creating online experiences where latest innovation meets creativity to solve problems. I consider myself as a resourceful and knowledgeable entrepreneur, analyst, developer and designer who always hungry with latest innovations while paying homage to traditional solutions.</p>
		</div>

		<h1 class="closed_txt marginleft10"><a href="#">HOW CAN I HELP YOU ?</a></h1>
		<div class="marginleft10 jtext">
	  		<p>Just talk to me and I will be happy to help you for any inquiries :)</p>

			<p>These are the tools that I can work with:</p>

			<p><strong>Brand &amp; Marketing:</strong>Branding; Media, Search and Analytical; Social Strategies.</p>

			<p><strong>Web Technologies:</strong> HTML5, CSS3, SASS, JavaScript, jQuery, JSON, SVG, Moustache, Handlebars, GIT, SVN, APIs (Facebook, Twitter, Google+, YouTube, BrightCove), Middleman, Ruby on Rails, node.js, Grunt, PHP, MySQL.</p>

			<p><strong>Web Concepts:</strong> Responsive &amp; Adaptive Design, Localization, Graceful Degradation/ Progressive Enhancement, Browser Quirks (IEs, Touch Devices), Agile Development, Performance Improvement, Analytics Implementations.</p>

			<p><strong>Creative:</strong> Photoshop, InDesign, Flash, After Effects, Illustrator, Cinema 4D, Logic Studio</p>

			<p><a href="RichardTirtaWidjaja_resume.pdf">Click here to download my Résumé</a></p>
		</div>

		<h1 class="closed_txt marginleft10"><a href="#">TALK WITH ME !</a></h1>
		<div class="marginleft10 jtext">
			<p> Yes! I encourage you to talk to me about anything that you have in your mind right now. Use any of the method below. </p>
			<p><strong>Phone (U.S):</strong> 415.774.6864</p>

			<p><strong>Email:</strong> rt[at]richardtirta[dot]com</p>

			<p><strong class="marginright10">Social Network:</strong> <a href="https://www.facebook.com/pages/Richard-Tirta/212357728775613" target="_new"><img class="marginright10" src="assets/images/ui/f_logo.png" width="25" height="25" alt="facebook" ></a>

			<a href="http://www.linkedin.com/pub/richard-widjaja/2b/54b/619" target="_new"><img src="assets/images/ui/linkedin.png" width="25" height="25" alt="linkedin"></a></p>
		</div>
  	</div>

	<div id="about-image">
		<img src="assets/images/me.jpg">
	</div>
</section>