<div id="works-akqa" class="module">
	<div class="featured" id="web-interactive">
			<h3>WORKS @ AKQA</h3>
	</div>

	<% data.projects.akqa.each do |p| %>
		<section>
			<a href="works/<%= p[:name] %>.html">
				<div class="projects-header">
					<div class="left category_caption radiusleft">
						<p class="project-header-desc">
							<strong><%= p[:title] %></strong><br/>
							<%= p[:type] %>
						</p>
					</div>
					<img class="left radiusright" src="assets/images/gallery/<%= p[:banner_link] %>.jpg">
				</div>
			</a>
		</section>
	<% end %>
</div>