<section class="page " id="intro">
	<div id="intro_text">
		<h1>HELLO!</h1>
		<p>
			I am Richard Tirta Widjaja, a Creative Marketing Consultant based in San Francisco and Jakarta.
			I would be happy to cross communicate and visualize creative solutions.
		</p>
	</div>

	<ul id="quicklinks">
		<li><a href="RichardTirtaWidjaja_resume.pdf">Download PDF Résumé</a></li>
	</ul>
</section>