<section class="page " id="intro">
	<div class="left marginleft10" id="intro_text">
		<h1>HELLO!</h1>
		<p> 
			I am Richard Tirta Widjaja, a Creative Developer based in San Francisco.
			I would be happy to cross communicate and visualize creative solutions.
		</p>
	</div>
	
	<ul class="right marginright10 " id="quicklinks">
		<li><a href="RichardTirtaWidjaja_resume.pdf">Download PDF Résumé</a></li>
	</ul>       
</section>